{{- $containerpublisher:= and (env "CONTAINER_PUBLISHER" | not | not) (lookPath "age" | not | not ) -}}
{{- $vscode:= (lookPath "code" | not | not ) -}}
{{- $wsl:= (env "WSL_DISTRO_NAME" | not | not )}}



encryption = "age"
[age]
    identity = "~/key.txt"
    recipient = "age1xpnzrnd62varqf6ztgh2fjsp6748murtmqwvzqsurvmmthje7susgtasvu"



{{- if $vscode }}
[edit]
    command = "code"
    args = ["--wait"]

[diff]
    command = "code"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}", "--wait"]

{{ end }}

[data]
    containerpublisher = {{ $containerpublisher }}
    wsl = {{ $wsl }}